<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
      .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
      }
      </style>
</head>
​
<body>
  <div class="container ">
​
    <div class="jumbotron text-center">
      <h1>Mission TO Mars</h1>
    <a href="/scrape" class="button">Scrape Mars Data</a>
    </div>  
    <div class = "row" id="mars-news">
      <div class = col-md-12>
        <h2>  Latest Mars News</h2>
          <ul>
              <h3>{{heading.news_title}}</li>
              <h4>{{heading.news_p}}</li>
          </ul>
      </div>    
    </div>
​
    <div class ="row" id = "Mars Featured Image" >
      <div class = "col-md-8">
        <h2>Featured MARS Image</h2>
        <!-- .img-responsive	Makes an image responsive (will scale nicely to the parent element) -->
        <img src="{{ heading.featured_image_url }}" class="img-responsive"
         alt="">
      </div>
​
        <div class  = "row" id = "Mars-facts">
            <div class ="col-md-4">
                <h3>Mars Facts</h3>
              <p>{{heading.MarsFacts| safe}}</p>
            </div>
          </div>  
​
      </div>
     </div>  
​
     <div class = "row" id = "mars-hemisphere">
        <h2 class="text-center"> Mars Hemisphere </h2>
        {% for x in heading.hemisphereurls %}
        <div class=" col-3 col-md-6">
          <div class="thumbnail">
          <img src="{{x['img_url']|default('static/images/error.png', true)}}" alt="...">
          <h4> {{x.title}}</h4>
        </div>
          <br/>
        </div>
        {% endfor %}
       
     </div>
​
  </div>
​
​
    
</body>  
</html>